.list-items{
    .list-item{
        position: relative;
        display: inline-block;
        margin-bottom: .5rem;
        width: 100%;
        height: 34px;
        border: 1px solid cl(border-grey);
        border-radius: 4px;
        padding: 0 110px 0 10px;
        line-height: 30px;
        box-sizing: border-box;
        white-space: nowrap;
        background-color: cl(background-light);
        overflow-x: hidden;
    }
    .list-item__title{
        
    }
    .list-item__buttons{
        position: absolute;
        top: 46%;
        right: 10px;
        transform: translateY(-50%);
    }
}