$icon-font-path: "voyager-assets?path=fonts/bootstrap/";

// Colors
$--color--accent: #22A7F0;
$--color-accent-dark: #128656;
$--color-light: #F3FFF6;
$--color-bright: #99ffc7;
$--color-dark-gray: #676767;
$--color-medium-gray: #888888;
$--color-gray: #dddddd;
$--color-regelar-gray: #ececec;
$--light-gray: #F7F9FA;
$--color-light-light-gray: #FBFBFB;

