.media-picker-formfield{
    &__wrap{
        display: grid;
        grid-template-columns: 1fr auto;
        // background-color: #f9f9f9;
        // border-radius: 4px;
        @include mq(md)
        {
            grid-template-columns: 1fr;
        }
    }
    &__items{
        display: flex;
        align-items: center;
        list-style: none;
        width: 100%;
        margin: 0px;
        flex-wrap: wrap;
        padding: 0;
        position: relative;
        user-select: none;
    }
    &__item{
        flex: 1;
        width: 100%;
        min-width: 200px;
        max-width: 250px;
        display: flex;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        border: 1px solid #ecf0f1;
        overflow: hidden;
        background: #f9f9f9;
        .media-picker-formfield__item-img{
            display: none;
        }
    }
    &__item-icon{
        flex: 1;
        text-align: center;
        padding-left: 0;
        margin-left: 0;
        margin-right: 5px;
    }
    &__item-details{
        flex: 2;
        overflow: hidden;
        width: 100%;
    }
    &__item-title{
        margin-bottom: 2px;
        margin-top: 16px;
        max-height: 17px;
        height: 17px;
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
    }
    &__btn-box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    &__button{
        min-width: 100px;
    }
    &__empty{
        width: 100%;
        min-width: 200px;
        max-width: 250px;
        display: flex;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        border: 1px solid #ecf0f1;
        background: #f9f9f9;
    }
}